body {
    font-family: Didot, Serif;
}

.blockqoute {
    font-style: italic;
}

section{
    display: block;
}

.centered{
    margin: auto auto;
    display: flex;
    justify-content: center;
}

.bottom-button{
    position: absolute;
    margin: auto 0px;
    bottom: 15px;
    width: 100%;
}

.nav{
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.nav-link{
    color: #fff;
}
.navbar-brand{
    color: #fff;
}
.navbar-toggler{
    top: 0px;
    border: 1px;
    margin: none;
}

.callout-container{
    height: 100vh;
    background: url(../img/bg_bedroom_blur.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -d-background-size: cover;
    background-size: cover;  
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.callout-header{
    font-weight: bold;
    margin-bottom: 20px;
}

.features-container{
    display: flex;
    justify-content: center;
    margin: 20px 20px;
}

.link-div{
    width: 100%;
    height: 35px;
    padding: auto auto;
    background-color: #ccc;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

.link-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    border: 1px solid #aaa;
    background-color: #fff;
}

.form-container{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.form{
    text-align: center;
    margin: 50px auto;
    background-color: #000;
    position: absolute;
    min-width: 300px;
    padding: 10px;
}

.btn-primary,
.form-group > input {
    margin: 10px 0;
    text-align: center;
}

.close{
    font-size: 30px;
    color:#222;
    position: relative;
    background-color: transparent;
    border: none;
}

.form-group > label{
    width: 100%;
    margin-top: 20px;
}
.form-text{
    bottom: 50px;
    margin: 0 auto;
}

.icon {
    cursor: pointer;
}

.block{
    display: block;
}


.fa-trash{
    color: rgb(130, 6, 6);
}

.mute{
    color: #999;
}

.max{
    max-width: 90vw;
}

details summary::-webkit-details-marker {
    display:none;
}
details > summary:first-of-type {
    list-style-type: none;
}

label, .submit, article > input{
    display: block;
    margin: 0 auto;
    text-align: center;
}

input[type='checkbox']{
    margin: 20px auto;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid #444;
    color:#000;
}


.textarea{
    min-width: 50px;
    min-height: 100px;
}

.article {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    margin: 0 auto;
    top: 60px;
    border-radius: 10px;
}

article > table{
    width: 100%;
}
.med{
    max-width: 500px;
}

td,th{
    padding: 5px;
}

th{
text-align: Left;
min-height: 30px;
vertical-align: baseline;
}

tr{
border-bottom: 1px solid #000;
}

.noborder{
border: none;
}

.border-bottom{
border-bottom: 1px solid #222;
padding: 10px;
margin-bottom: 10px;
}

@media screen and (max-width: 450px) {
    article {
        width: 90vw;
        margin: 0 auto;
    }

    .navbar-brand{
        position: relative;
        display: flex;
        justify-content: left;
        width: 100vw;
    }

    .card {
        min-width: 250px;
        margin: 0px auto;
    }

}
  
@media screen and (min-width: 400px) {
    article {
        width: 80vw;
        margin: 0 auto;
    }

    article > input[type='textarea']{
        max-width: 450px;
        min-width: 250px;
    }
}

.user{
    z-index: 1031;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    right: 0px;
    height: 65px;
}

.card{
    margin: 0px 20px;
}

.card-img-top{
    max-height: 250px;
    max-width: 200px;
    width: auto;
    margin: 10px auto 0 auto;
    border: none;
    justify-content: center;
  }

.card-large{
    display: block;
    margin: 40px auto; 
    width: 400px;
}


.card-title{
    margin-left: 10px;
}

.card-flex{
    height: 300px;
    width: 250px;
    box-shadow: 0px 0 20px rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
}

.card-body{
    margin-top: 15px;
}

.card-style{
    border-radius: 15px;
}

.card-price{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    bottom: -17px;
    right: -10px;
    border-radius: 50px;
    border: 1px solid #aaa;
    height: 70px;
    width: 70px;
    padding: 22px 10px;
}

.card-sale-price{
    border: none;
    z-index: 2;
    background: linear-gradient(125deg, red, yellow)
}

.sale{
    position: absolute;
    color:rgba(0, 0, 0, 0.5);
    text-decoration: line-through;
    height: 5px;
    font-size: 12px;
    top: 8px;
}

.sale-price{
    position: relative;
    top: 8px;
    font-size: 18px;
    color:#000;
}

.price{
    position: relative;
    top: 8px;
}

.modal {
    min-width: 250px;
    width: 100vw;
    left: 0;
    margin: 0 0;
    padding: 0 0;
    box-shadow: 0px 20px rgba(0, 0, 0, 0.7);
}

.modal-dialog, .modal-content{
    max-width: 500px;
    min-width: 230px;
}

.modal-title{
    position: absolute;
    display: flex;
    justify-content: center;
    top: -15px;
    padding: 3px 15px;
    font-size: 1.4rem;
    min-width: 140px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.4);
}

.modal-body{
    margin: 0px 10px;
}

.alert-warning{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20px;
    height: 25px;
    padding: 5px;
    width: auto;
}
