<article class="features-container">
    <div class="row">
            <h2>Features:</h2>
    </div>
</article>
<article>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-4 p-4">
            <div style="text-align: center;">
                <h4>Slim design</h4>
                <p class="text-muted">
                    The fram is designed with style and elegance in mind. Therefor the tubes are as slim as possible, as not to distrub the feel of the room.
                </p>
            </div>
        </div>

        <div class="col-12 col-md-12 col-lg-4 p-4 ">
            <div style="text-align: center;">    
                <h4>Magnetic mounting:</h4>
                <p class="text-muted">With our magnetic mounting solution, it can't be easier to hang your pictures and posters on the wall!</p>
            </div>
        </div>

        <div class="col-12 col-md-12 col-lg-4 p-4">
            <div style="text-align: center;">    
                <h4><i class="fa-solid fa-palette icon"></i> Color match:</h4>
                <p class="text-muted">Choose the right corner color to match your poster or picture!</p>
            </div>
        </div>
    </div>
</article>