<article class="features-container">
    <div class="row">
        <div class="col-12 col-md-12 cold-lg-12 my-4">
            <h2>Features:<br></h2>
        </div>
    </div>
</article>

<div class="row w-100">
    <div class="col-12 col-md-12 col-lg-4 p-4">
        <div style="text-align: center;">
            <h4>Slim design</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque alias ad, voluptates error delectus sapiente fugit id molestiae tempore ab. Molestiae eaque nemo voluptatem voluptatum sequi, est magni doloribus ducimus?</p>
        </div>
    </div>

    <div class="col-12 col-md-12 col-lg-4 p-4 ">
        <div style="text-align: center;">    
            <h4>Magnetic mounting:</h4>
            <pclass="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque alias ad, voluptates error delectus sapiente fugit id molestiae tempore ab. Molestiae eaque nemo voluptatem voluptatum sequi, est magni doloribus ducimus?</p>
        </div>
    </div>

    <div class="col-12 col-md-12 col-lg-4 p-4">
        <div style="text-align: center;">    
            <h4><i class="fa-solid fa-palette icon"></i> Color match:</h4>
            <pclass="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque alias ad, voluptates error delectus sapiente fugit id molestiae tempore ab. Molestiae eaque nemo voluptatem voluptatum sequi, est magni doloribus ducimus?</p>
        </div>
    </div>
</div>
