{% extends 'admin/admin.html' %}
{% block content %}

    <article class="article">
        <div>
            <form method="POST">
                {% csrf_token %}    
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissible centered alert show" role="alert" >
                        {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="form-group">
                    <label for="username" class="form-group">Username/Name</label>
                    <input type="username" class="form-control" name="username" aria-describedby="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="centered">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </article>    
{% endblock %}