{% extends "admin/admin.html" %}
{% block content %} 


<form method="POST" action="add">
    {% csrf_token %}
    <article class="article">
        <label for="name">Name:</label>
        <input type="text" id="id_name" name="name" maxlength="30" required/><br>
        <label for="price">Price: </label>
        <input type="number" id="price" name="price" maxlength="3" oninput="javascript: if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required/><br>
        <label for="desc">Description: </label>
        <textarea id="desc" name="desc" required class="centered textarea"></textarea><br>
        <label for="sale_price">Sale Price: </label>
        <input type="number" id="sale_price" name="sale_price" maxlength="3" required oninput="javascript: if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/><br>
        <label for="sale">Sale: </label>
        <input type="checkbox" id="sale" name="sale" checked>
        <input type="submit" value="Save item" class="btn btn-secondary submit">
    </article>
</form>

{% endblock%}