<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>Edit product</h1>
    <!-- {{ products }} -->
   <form method="POST">
    {% csrf_token %}
    <label for="name">Name: </label>
    <input type="text" id="id_name" name="name" maxlength="30" required/><br>
    <label for="price">Price: </label>
    <input type="number" id="price" name="price" maxlength="5" required/><br>
    <label for="desc">Description: </label>
    <input type="text" id="desc" name="desc" maxlength="300" required/><br>
    <label for="sale_price">Sale Price: </label>
    <input type="number" id="sale_price" name="sale_price" required/><br>
    <label for="sale">Sale: </label>
    <input type="checkbox" id="sale" name="sale">
    <input type="submit" value="Update item">
   </form>
</html>