<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    {% csrf_token %}
    <h1>Admin page for removing product:</h1>
    <p>
        Name: {{ name }}<br>
        Price: {{ price }}<br>
        ID: {{ id }}<br>
        Description: {{ desc }}<br>
    </p>
   <a href="remove_prod/{{ id }}"><button>Delete</button></a>
    <a href="/add"><button>Add a new product</button></a>
</html>